rect.bordered {
    stroke: #333;
    stroke-width:2px;
}

text {
    font-size: 9pt;
    font-family: Consolas, courier;
}

text.axis-workweek {
    fill: #000;
}

text.axis-worktime {
    fill: #000;
}
